.MainContent {
  position: absolute;
  text-align: center;
  background-color: rgb(236, 236, 236);
  margin: 20px 100px 0px 100px;
}

.InputBar {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

.DataGraph, .FourierGraph {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

input {
  margin: 0 10px 0 10px;
  width: 50px;
}
